@model IEnumerable<Tuple<mentorient.Models.Accounting.Entry, string>>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Accounting</h1>
<nav>
    <hr/>
    <a asp-controller="Accounting" asp-action="Create">New Entry</a>
    <hr/>
</nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Tenant</th>
        <th>Date Due</th>
        <th>Date Paid</th>
        <th>Amount Due</th>
        <th>Amount Paid</th>
        <th>Amount Remaining</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var entry in Model)
    {
        <tr>
            <td>@entry.Item2</td>
            <td>@entry.Item1.DateDue.ToShortDateString()</td>
            <td>@entry.Item1.DatePaid.ToShortDateString()</td>
            <td>@entry.Item1.AmountDue</td>
            <td>@entry.Item1.AmountPaid</td>
            <td>@(entry.Item1.AmountDue - entry.Item1.AmountPaid)</td>
        </tr>
                    
    }
    </tbody>
</table>